/* root pseudo-class to assign var for text and colors */
:root {
    --bg-color: rgb(40, 25, 45);
    --bg2-color: rgb(65, 45, 45);
    --text-color: rgb(75, 180, 190);
    --bd-color: rgb(150, 100, 180);
    --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
    --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
    --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
    --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
    --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
    --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
    --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
    --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

/* Universal Selector */
* {
    box-sizing: border-box;
}

/* Element Styles */

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}

header {
    background-color: var(--bg2-color);
    line-height: 1;
    width: 100%;
}

nav {
    display: flex;
    flex: 1 0 100%;
    align-items: end;
    justify-content: space-between;
    max-width: 1500px;
}

h1 {
    font-size: var(--size-900);
    padding: 0% 0% 0% 1%;
}

h2 {
    font-size: var(--size-700);
}

h3 {
    font-size: var(--size-300);
}

p {
    font-size: var(--size-300);
    padding: .25% 1%;
}

ul {
    padding: .25% 1%;
}

li {
    font-size: var(--size-500);
}

a {
    text-decoration: none;
    color: var(--text-color);
    opacity: .7;
}

a:hover {
    opacity: 1;
    text-decoration: underline;
    transition: ease .5s;
}

ul li a:active {
    opacity: 1;
    text-decoration: none;
    color: var(--bg2-color);
    background-color: rgb(75, 180, 190);
    transition: ease .5s;
}

section {
    display: flex;
    flex-direction: column;
    flex: 100%;
    flex-wrap: wrap;
    margin: 1rem .25rem 1rem .25rem;
    max-width: 1200px;
}

/* Class Styles */

.section-heading {
    flex-basis: 100%;
    border-bottom: solid .25rem var(--bd-color);
}

.section-content {
    flex-basis: 100%;
}

.projects-flex {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 80%;
    justify-content: space-between;
}

.card {
    flex: 1 0 50%;
    max-width: 49%;
    position: relative;
    margin: .5%;
}

.project-img {
    width: 100%;
    height: 100%;
    align-self: center;
    max-width: auto;
    border: .25rem solid var(--bd-color);
}

.project-title {
    position: absolute;
    bottom: 5%;
    left: 2%;
    background-color: var(--bg2-color);
    width: 15%;
    height: 10%;
    min-width: 100px;
    min-height: 65px;
}

/* ID specific styles */

#project-1 {
    display: flex;
    flex: 1 0 100%;
    max-width: 99%;
}

#links {
    display: flex;
    flex-basis: 80%;
    justify-content: space-around;
}

/* Media Queries */

@media screen and (min-width: 769px) {
    li {
        display: inline;
    }

    section {
        display: flex;
        flex-direction: row;
        flex: 100%;
        flex-wrap: wrap;
        margin: 1rem .25rem 1rem .25rem;
    }

    .section-heading {
        flex-basis: 18%;
        border-right: solid .25rem var(--bd-color);
        border-bottom: none;
        margin-right: 1rem;
    }

    .section-content {
        flex-basis: 78%;
    }
}

@media screen and (min-width: 450px) {
    .project-title {
        position: absolute;
        bottom: 5%;
        left: 2%;
        background-color: var(--bg2-color);
        width: 15%;
        height: 10%;
        min-width: 200px;
        min-height: 95px;
    }

    h3 {
        font-size: var(--size-500);
    }
    
    p {
        font-size: var(--400);
        padding: .25% 1%;
    }
}